body{
	background-image: url('/static/images/orderback.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
	height: 100px;
	width: 100px;
}